
#KingdomPopulationList{

    margin-top: 50px;
}




#KingdomPopulationList .nothingToShow{
    text-align: center;
    color: #ff8800;
}



#KingdomPopulationList table thead tr{

    color: #ff8800;

}

