
#removeRabbitProfile{

    margin-top: 50px;

}


#removeRabbitProfile .panel .background{

    background-color: #2d2d2d;
    margin: 15px;

}

#removeRabbitProfile .panel{

    background-color: #222222;

}

#removeRabbitProfile .panel .panel-body{

    padding: 25px;
}


#removeRabbitProfile .panel .panel-body h4{

    color: #ff8800;

}


#removeRabbitProfileSelector{

    margin: 20px 0;

}